@page
@using KluczToSukcesDoKariery.Models
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<style>
#badges {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px;
}

    .rounded-background {
        background-color: white;
        padding: 10px;
        margin-top: 25px;
        border-radius: 15px; /* Zaokrąglenie rogów */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Delikatny cień dla efektu głębi */
    }

.quizbadge {
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    aspect-ratio: 2;
    position: relative;
}

.quizbadge::before {
    content: " ";
    position: absolute;
    opacity: 0.25;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1000px;
}

.quizbadge-level-1::before {
    background-color: linen;
}

.quizbadge-level-2::before {
    background-color: lightgreen;
}

.quizbadge-level-3::before {
    background-color: saddlebrown;
}

.quizbadge-level-4::before {
    background-color: silver;
}

.quizbadge-level-5::before {
    background-color: gold;
}

.quizbadge-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
}

.quizbadge-description p {
    font-size: 0.9rem;
    width: 75%;
    margin: auto;
    text-align: center;
}
</style>

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Username" class="form-control" disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>


@if ((ViewData["streak"] as int?) > 0)
{
    <div class="rounded-background">
        <h3>Rozwiązujesz quizy już @ViewData["streak"]. dzień z rzędu!</h3>
        <p>Trzymaj tak dalej, każdy kolejny dzień powiększa twój bonus w rankingu!</p>
    </div>
}

<div class="rounded-background">
    <h2>Twoje osiągnięcia</h2>
    <div id="badges">
        @foreach (var badge in ViewData["badges"] as List<Tuple<QuizyZawodowe, QuizyZawodoweBadge>>)
        {
            <div class="quizbadge quizbadge-level-@badge.Item2.Level">
                <div class="quizbadge-title">@badge.Item1.Tytul</div>
                <div class="quizbadge-level">Poziom @badge.Item2.Level</div>
                <div class="quizbadge-description">
                    @if (badge.Item2.Level == 0)
                    {

                    }
                    else if (badge.Item2.Level == 1)
                    {
                        <p>Gratulacje! Stawiasz swoje pierwsze kroki w tej dziedzinie.</p>
                    }
                    else if (badge.Item2.Level == 2)
                    {
                        <p>Jesteś na dobrej drodze! Znasz podstawy</p>
                    }
                    else if (badge.Item2.Level == 3)
                    {
                        <p>Twoje umiejętności rozwijają się szybko!</p>
                    }
                    else if (badge.Item2.Level == 4)
                    {
                        <p>Świetna robota! Twoja wiedza jest już na zaawansowanym poziomie.</p>
                    }
                    else if (badge.Item2.Level == 5)
                    {
                        <p>Niesamowite! Jestes prawdziwym eskpertem!</p>
                    }
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
